<template name="login">
    <form id="LoginForm" autocomplete="off">
        <div class="formline">
            <input type="text" name="email" id="id_email" placeholder="E-Mail Adress">
        </div>
        <div class="formline">
            <input type="password" name="password" id="id_password" placeholder="Password">
            <a href="#" class="formline-opt">Forgot password?</a>
        </div>
        <div class="formline clearfix">
            <button class="login-button subscribe-post">Sign in <i>wayd</i></button>
        </div>
        <div class="formtext-bottom">
            or <a href="#" class="fontbold">Sign up</a> and now share your code!
        </div>
    </form>
</template>
