/*
*
* Fonts media 
*/

@font-face {font-family: 'fontnormal';src: url('/fonts/fontnormal.eot');src:url('/fonts/fontnormal.svg#proxima_nova_rgregular') format('svg'), url('/fonts/fontnormal.eot?#iefix') format('embedded-opentype'),url('/fonts/fontnormal.woff') format('woff'),url('/fonts/fontnormal.ttf') format('truetype');font-weight: normal;font-style: normal; }

@font-face {font-family: 'fontbold';src: url('/fonts/fontbold.eot');src: url('/fonts/fontbold.svg#proxima_novasemibold') format('svg');src: url('/fonts/fontbold.eot?#iefix') format('embedded-opentype'),url('/fonts/fontbold.woff') format('woff'),url('/fonts/fontbold.ttf') format('truetype');font-weight: bold;font-style: normal; }

.fontnormal { font-family:'fontnormal'; }
.fontbold { font-family:'fontbold'; }
