/*
*
* Fonts media 
*/
@import url(//fonts.googleapis.com/css?family=Oswald);
@import url(//fonts.googleapis.com/css?family=Lobster|Great+Vibes|Pacifico|Oswald:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,600,400);
@font-face {font-family: 'fontnormal';src: url('/fonts/fontnormal.eot');src:url('/fonts/fontnormal.svg#proxima_nova_rgregular') format('svg'), url('/fonts/fontnormal.eot?#iefix') format('embedded-opentype'),url('/fonts/fontnormal.woff') format('woff'),url('/fonts/fontnormal.ttf') format('truetype');font-weight: normal;font-style: normal; }

.fontnormal { font-family:'fontnormal'; }
.fontgreat { font-family: 'Great Vibes', cursive; } 
.fontpasifico { font-family: 'Pacifico', cursive; } 
.fontoswald { font-family: 'Oswald', sans-serif; }
.fontlobster { font-family: 'Lobster', cursive; }
.fontoswald { font-family: 'Oswald', sans-serif; }
.fontsans { font-family: 'Open Sans', sans-serif; }
