/*
* @yasaricli 
* Wayd Stylesheet
*/
body { padding:0px; margin:0px; background:url('img/textlogo.png') no-repeat top center fixed; }


h2, h1, h3 { padding:0px; margin:0px; } 
ul, li { list-style:none; padding:0px; margin:0px; }

.clearfix:after { content:"."; visibility:hidden; display:block; height:0; clear:both; font-size:0; }
.pa { position:absolute; }
.fl { float:left; }
.fr { float:right; }
.ma { margin:auto; }
.hidden { display:none; }
.fixed { position:fixed; }
.hidden { display:none; }
.bgred { background:red; }
#Surface { background-color:white; }
.container { width:980px; margin:auto; }

#Header { background: url('/img/header.png') no-repeat center center;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding-bottom: 80px;}
#Header .landing-top { width:360px; height:180px; margin:auto; }
#Header .landing { margin-top:130px; padding:50px; }
#Header .landing .features { float:left; width:440px; }
#Header .landing .features h1 { font-size:60px; line-height:70px; }
#Header .landing .features p { margin:0px; padding:0px; font-size:18px; line-height:25px; }
#Header .landing .features a { font-size:12px; }
#Header .landing .features a:hover { text-decoration:underline; }

#Header .landing .auth { float:right; margin-top:20px; }

#Footer { background-color:#dddddd; color:#555555; position:relative; }
#Footer .fot { width:980px; margin:auto; padding-top:80px; padding-bottom:20px; }
#Footer .why-wayd { background-color:#f5f5f5; padding:180px 160px 180px 160px; text-align:center; }
#Footer .why-wayd h3 { color:#999999; font-size:30px; }
#Footer .why-wayd h1 { font-size:60px; }
#Footer .container { width:auto; }
#Footer a { color:#555555; }
#Footer a:hover { color:black; }
.footer-menu { float:left; }
.footer-menu li { float:left; margin-right:10px; font-size:14px; }
.footer-copyright { float:right; font-size: 13px; }

/* auth login register */
#LoginForm { width:300px; }
#LoginForm .formline { margin-bottom:16px; position:relative; }
#LoginForm button { width:100%; background:#4ea1e0; border-color: #4ea1e0; color:white; height:47px; }
#LoginForm button:hover { color: white; background: #1a62b2; border-color: #1a62b2; }
#LoginForm input[type='text'], #LoginForm input[type='password'] { width:100%; border: 1px solid #e2e6e8; }
.formline .formline-opt { font-size:12px; color:#aaaaaa; position:absolute; right: 16px; bottom: 12px; }
.formtext-bottom { font-size:16px; }

