<template name="timeline">
    <div class="container">
        <div class="timeline">
            <div class="label">
                PUBLIC 
                <b class="fontbold">TIMELINES</b>
            </div>
            <ul class="timeline-nav clearfix">
                <li class="active">
                    <a href="#">Popular</a>
                </li>
                <li>
                    <a href="#">Recent</a>
                </li>
            </ul>
            <ul class="wayds">
                <li> 
                    <div class="wayd-leftbg"></div>
                    <div class="wayd-content clearfix">
                        <div class="wayd-profile">
                            <img src="https://pbs.twimg.com/profile_images/378800000003218827/489c9a4e9a52e4221c7f670d149b7b91.jpeg">
                        </div>
                        <div class="wayd-description">
                            <div class="wayd-user">
                                <span><b>@yasaricli</b></span>
                                <span>6 hours ago</span>
                            </div>
                            <p>Have you seen the extended first look at 'Godzilla', starring Bryan Cranston, Aaron Taylor-Johnson, Elizabeth Olsen, and Ken Watanabe? Take a look and let us know what you think!</p> 
                        </div>
                    </div>
                </li>

                <li class="last"> 
                    <div class="wayd-leftbg"></div>
                    <div class="wayd-content clearfix">
                        <div class="wayd-profile">
                            <img src="https://pbs.twimg.com/profile_images/441211377609216000/H1v73rfo.jpeg">
                        </div>
                        <div class="wayd-description">
                            <div class="wayd-user">
                                <span><b>@ercanbasa</b></span>
                                <span>today</span>
                            </div>
                            <p>Siz de hızlı stv capsleri yapmak ister misiniz ? <a href="#">erhanbasa.github.io/stvcapsmaker/</a> </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
