<template name="timeline">
    <div class="container">
        <div class="timeline">
            <div class="label">
                PUBLIC 
                <b>TIMELINES</b>
            </div>
            <ul class="timeline-nav clearfix">
                <li class="active">
                    <a href="#">Popular</a>
                </li>
                <li>
                    <a href="#">Rcent</a>
                </li>
            </ul>
            <ul class="wayds">
                <li> </li>            
                <li> </li>            
                <li> </li>            
                <li class="last"> </li>            
            </ul>
        </div>
    </div>
</template>
