<div style="color:#828e9e; font-family:'Brandon Text', Avenir, 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif">
    <center>
        <img src='http://wayd.in/img/logo.png'>
        <h2 style='color: #2d333b; margin-top:0px;'>Thanks for subscription; </h2>
        <div style='font-size: 14px; border-left: 12px solid #828e9e; text-align: left; padding-left: 10px;'>We will notify you when the project is opened, you can write to us within this time, suggestions or complaints.</div>
    </center>
    <div style='text-align:right; font-weight: 200; color: #828e9e; margin-top: 20px; font-size: 15px;'>wayd.in team.</div>
</div>
