<template name="wayds">
    <ul id="Wayds">
        {{# each wayds }}
            <li class="wayd clearfix">
                <div class="wayd-content clearfix">
                    <div class="avatar">
                        {{# if avatar }} 
                            {{# if avatar.uploaded }}
                                <img src="{{ avatar.url quality='99' resize='50' gravity="'Center'" crop='50, 50' }}">
                            {{/ if}}
                        {{ else }} 
                            <img src="/defaults/default-avatar.png">
                        {{/ if }}
                    </div>
                    <div class="user-info">
                        <span class="fullname fontsans">{{ user.profile.firstname }} {{ user.profile.lastname }}</span>
                        <span class="username"><span>@</span>{{ user.username }}</span>
                    </div>
                    <div class="timestamp">{{ moment date=createdAt format='relative' }}</div>
                    <div class="text">{{ text }}</div>
                    <div class="likes">
                        {{# if hasLike }}
                            <span class="icon likeButton like"></span>
                        {{ else }}
                            <span class="icon likeButton unlike"></span>
                        {{ /if }}
                        {{# if likes.count }}
                            <span class="likeCount"> + {{ likes.count }}</span>
                        {{/if}}
                        {{# each likes }} 
                            {{ user.avatar._id }}
                        {{/each}}
                    </div>
                    <ul class="waydImages clearfix">
                        {{# each images }} 
                            {{# if uploaded }}
                                <li>
                                    <img src="{{ url resize='100' quality='99'}}">
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul> 
                </div>
            </li>
        {{ else }}
            <li class="notfound">
                Could not find anything...
            </li>
        {{/each}}
    </ul>

    {{ > pagelet }}
</template>

<template name="pagelet">
    {{# if session "pageletClick" }}<a class="pageletClick fontpasifico" href="#pagelet">+</a>{{/ if }}
    {{# if session "pagelet" }}
        <div id="pagelet">
            <div class="pagelet-header">
                new wayd <div class="share fontsans">SHARE</div>
            </div>
            <div class="pagelet-content">
                <textarea id="title" placeholder="what are you doing ?"></textarea>
            </div>
            {{# if pageletImages }}
                <ul class="reactImages clearfix">
                    {{# each pageletImages }}
                        <li><img src="{{ data }}"></li>
                    {{/each}}
                </ul>
            {{/if}}
            <ul class="pagelet-shortcuts">
                <li class="shortcut photo"></li>
                <li class="shortcut location"></li>
            </ul>
        </div>
    {{/ if }}
</template>
