<template name="index">
    {{ > timeline }}
</template>

<template name="header">
    <div id="Header">
        <div class="container">
            <div class="landing-top"></div>
            <div class="landing clearfix">
                <div class="features">
                    <h1>ONLY NOW <b>YOUR STORY!</b></h1>
                    <p>Mycodeline, lorem ipsum dolor sit amet baya sit amet
                    sonrasında ise aslında güzel buralar da sen anla
                    neyse anlamasan da olur.</p>
                    <a href="#">READ FEATURES</a>
                </div>
                <div class="auth">
                    {{ > login }}
                </div>
            </div>
            <div class="polygon"></div>
        </div>
    </div>
</template>

<template name="footer">
    <div id="Footer">
        <div class="container">
            <div class="why-wayd">
                <div class="why">
                    <h3>HOW THIS PLATFORM?</h3>
                    <h1>Why <b>Wayd.in</b></h1>
                </div>
            </div>
            <div class="fot clearfix">
                <ul class="footer-menu">
                    <li><a href="/features">FEATURES</a></li> 
                    <li><a href="/users">USERS</a></li> 
                    <li><a href="/blog">BLOG</a></li> 
                    <li><a href="/contact">CONTACT</a></li> 
                </ul>
                <div class="footer-copyright">
                    Copyright © 2014. Wayd.in
                </div>
            </div>
        </div>
    </div>
</template>

