<template name="index">

</template>

<template name="header">
    <div id="Header">
        header
    </div>
</template>

<template name="footer">
    <div id="Footer">
        <div class="container">
            <div class="why-wayd">
                <div class="why">
                    <h3>HOW THIS PLATFORM?</h3>
                    <h1>Why <b>Wayd.in</b></h1>
                </div>
            </div>
            <div class="fot clearfix">
                <ul class="footer-menu">
                    <li><a href="/features">FEATURES</a></li> 
                    <li><a href="/users">USERS</a></li> 
                    <li><a href="/blog">BLOG</a></li> 
                    <li><a href="/contact">CONTACT</a></li> 
                </ul>
                <div class="footer-copyright">
                    Copyright © 2014. Wayd.in
                </div>
            </div>
        </div>
    </div>
</template>

