<head>
    <title>wayd</title>
    <meta property="og:title" content="What are you doing?"/>
    <meta property="og:image" content="http://wayd.in/img/logo.png" />
    <meta property="og:url" content="http://wayd.in"/>
</head>

<template name="layout">
    <div id="Surface" class="clearfix">
        {{ > yield }}
    </div>
</template>

<!-- Index Page -->
<template name="index">
    <div class="anim-logo">
        <div>
            <img src="/img/animate/body.png" class="body"/>  
            <img src="/img/animate/head.png" class="head"/>  
            <img src="/img/animate/wing.png" class="wing"/>  
            <img src="/img/animate/tail.png" class="tail"/>
        </div>
        <form id="SubscribeForm" class="sub">
            <h2>Get on the list</h2>
            <p>We'll keep you updated as development progresses and send you an invite key when there's space.</p>
            <input type="text" name="email" placeholder="Email" id="id_email" />
            {{# if err }} 
                <div class="err pa">{{ err }}</div>
            {{/if}}
            <a href="#" class="subscribe-post">Subscribe</a>
        </form>
        <div class="ok hidden">
            Thanks, Wayd is opened you will be informed by email <span>{{ email }}</span>.
        </div>
    </div>
</template>

<template name="notFound"></template>
<template name="loading"></template>

