<head>
  <title>wayd</title>
</head>

<template name="layout">
    <div id="Surface" class="clearfix">
        {{ > yield }}
    </div>
</template>

<!-- Index Page -->
<template name="index">
    <div class="anim-logo">
        <div>
            <img src="/img/animate/body.png" class="body"/>  
            <img src="/img/animate/head.png" class="head"/>  
            <img src="/img/animate/wing.png" class="wing"/>  
            <img src="/img/animate/tail.png" class="tail"/>
        </div>
        <div class="sub">
            <input type="text" name="email" placeholder="Email" id="id_email" />
            <a href="#" class="subscribe-post">Subscribe</a>
        </div>
    </div>
</template>

<template name="notFound"></template>
<template name="loading"></template>

